*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.4rem;
  color: #141414;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
}


/* SETS WIDTH */
header,
.row{
  max-width: 1000px;
  margin: 0 auto;
}

/* STYLES FOR HEADER */
header{
  position: relative;
}

header .top-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  margin-top: 2rem;
}

nav ul{
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active,
nav ul li a:hover{
  color: #000;
  margin: 0 1rem;
}

nav ul li:not(:last-child){
  border-right: 1px solid grey;
}

header .lloyds-title{
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

header .lloyds-title p{
  margin: 0;
}

header .search{
  align-self: stretch;
  margin-bottom: 1rem;
}

header input{
  background-color: #f1f1f1;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 100%;
  text-indent: 2rem;
  background-image: url("svg/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 3rem;
}

header input::placeholder{
  margin-left: 2rem;
}

header .header-tabs{
  border-top: solid 1px black;
  margin-top: 1.5rem;
}

header .header-tabs .header-tab:not(:last-child){
  border-right: 1px solid #fff;
}

header .header-tab{
  background-color: #282f54;
  padding: 1rem;
}

header .header-tab,
header .header-tab:visited,
header .header-tab:active,
header .header-tab:focus{
  color: #fff;
}

header .header-tabs .active{
  background-color: #dfe0e6;
  color: #282f54;
}

header .header-tab:hover{
  color: #141414;
  background-color: #f1f1f1;
}

/* HEADING SECTION */
#heading-section{
  background-color: #f1f1f1;
  z-index: 1;
}

.upper-text,
.upper-text a,
.upper-text a:hover,
.upper-text a:visited,
.upper-text a:active,
.upper-text a:focus{
  color: #909090;
  display: inline-block;
  margin: 2rem 0;
  text-decoration: none;
}

.heading-box h1{
  color: #262626;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.heading-box .share{
  display: inline-block;
  margin-top: 1rem;
  padding-bottom: 3rem;
  font-size: 1.6rem;
}

.heading-box .share i{
  margin-right: 1rem;
}

/* RESPONSIVE NAVIGATION */
.responsive-nav{
  display: none;
}


/* DOWNLOAD SECTION */
.intro-column{
  padding: 2rem 0 0 0;
}

.display-box{
  display: flex;
  margin: 3rem 0 6rem 0;
}

.image-container img{
  box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, .3);
}

.description-container{
  margin: 0 10rem 0 4rem;

}

.description-container h2{
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description-container button{
  color: #fff;
  background-color: #0a4bb7;
  padding: 2rem;
  border: none;
}


/* FOOTER SECTION */

#footer{
  background-color: #141414;
  color: #fff;
  padding: 1rem 0;
}

footer ul{
  list-style: none;
  margin: 2rem 0;
  display: flex;
}

footer ul li{
  margin-right: 1rem;
}

footer ul li a{
  color: #fff;
  text-decoration: none;
  margin-right: .5rem;
}

footer ul li a:hover,
footer ul li a:visited,
footer ul li a:active,
footer ul li a:focus{
  color: #fff;
}

footer .icon-list{
  margin: 3rem 0;
}

footer .icon-list li{
  padding: 0;
  margin: 0 2rem 0 0;
}

.footer-nav li:not(:last-child){
  border-right: 1px solid #fff;
  padding-right: .5rem;
}

.footer-nav li:not(:first-child){
  padding-left: .5rem;
}

footer ul li a img{
  width: 2.5rem;
}

footer .facebook-icon{
  background-color: #fff;
}


/* HOVER PANELS----SHOULD MAYBE MOVE THIS CODE TO TABS SECTION */

.hover-panel{
  visibility: hidden;
  position: absolute;
  max-width: 100rem;
  top: 100%;
  background-color: #f1f1f1;
  box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, .3);
  z-index: -1;
  padding-bottom: 1.5rem;
}

.hover-panel h3{
  margin: 2rem 0;
  font-size: inherit;
}

.hover-panel hr{
  background-color: #141414;
  margin-bottom: 3rem;
}

.hover-panel .links-box a{
  display: inline-block;
  width: 100%;
  color: #141414;
  padding: 1rem;
}
